.search_bar {
    position: sticky;
    top: 0;
    background-color: #6a040f;
    margin-bottom: 2%;
    padding: 2%;
}

.search_bar h1 {
    color: #eee;
    margin: 0 0 1% 0;
}

.cart {
    background-color: #6a040f;
    color: #eee;
    font-size: 3em;
    border: 0;
    float: right;
    position: relative;
    top: -70px;
    padding: 5px 10px;
}

select,
.search_button,
.cart:hover {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 3px#9e9e9e;
}

.select_container select, .search_button {
    font-family: inherit;
    background-color: #6a040f;
    color: #eee;
    border-radius: 10px;
    text-align: center;
    margin-right: 2%;
    padding: 5px 10px;
}

.quantity {
    color: #eee;
    position: relative;
    z-index: 1;
    left: 98%;
    bottom: 55px;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 5% auto;
    width: 80%;
}

.image {
    width: 40%;
    color: #eee;
    border-radius: 10px;
    box-shadow: 3px 3px 3px#9e9e9e;
    padding: 1%;
}

.image img {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 2%;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.3rem;
    gap: 5px;
}

.pagination .page_num {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
}

.pagination .page_num:hover, .active {
    background-color: #6a040f;
}

.image .shop:hover {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 3px#9e9e9e;
}

.shop {
    font-family: inherit;
    background-color: black;
    font-size: 2em;
    color: #eee;
    text-align: center;
    margin-top: 5%;
    border: 0;
    float: right;
    padding: 2% 3%;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.hide {
    visibility: hidden;
}

.show {
    width: 50vw;
    margin: auto;
    padding-bottom: 4%;
    color: #eee;
    padding: 2%;
}

.show img {
    width: 100%;
    border-radius: 10px;
}

.close_button {
    float: left;
    margin-right: 3%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px#9e9e9e;
}

.cart_button {
    float: right;
    margin-left: 3%;
}

.cart_button,
.close_button {
    font-size: 1.5em;
    background-color: black;
    color: #eee;
    text-align: center;
    margin-bottom: 1%;
    border: 0;
    padding: 1% 2%;
}

.close_button:hover {
    cursor: pointer;
    background-color: #6a040f;
}

.cart_button:hover {
    border-radius: 10px;
    box-shadow: 3px 3px 3px#9e9e9e;
}

.cart_item {
    color: #eee;
    margin: 0 5% 5% 5%;
}

.cart_item
button {
    margin: 2%;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    border: 0;
    font-size: 1.3em;
    padding: 1% 2%;
}

.cart_item 
.cart_buttons
button {
    border-radius: 10px;
    box-shadow: 3px 3px 3px#9e9e9e;
}

.cart_item 
.cart_buttons
button:hover {
    background-color: #6a040f;
    cursor: pointer;
}

.button_container {
    display: inline;
    margin: 0 1%;
}

.button_container
button {
    margin: 0 2%;
}

.cart_buttons {
    display: flex;
    justify-content: center;
}

.button_container
button:hover {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 3px#9e9e9e;
}